:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--very-light-gray);
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--very-dark-blue);
    font-size: 15px;
}

main {
    width: 100%;
    height: 100%;
}

h1, h2{
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 0.25px;
    line-height: auto;
    text-align: center;
    margin: 10px;
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.main-title {
    width: 540px;
    margin: auto;
}

.slogan {
    width: 540px;
    letter-spacing: 0.1px;
}

.functions {
    width: 350px;
    height: 250px;
}

.supervisor {
    grid-area: supervisor;
}

.teambuilder {
    grid-area: teambuilder;
}

.karma {
    grid-area: karma;
}

.calculator {
    grid-area: calculator;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas: 
    ".......... teambuilder .........."
    "supervisor teambuilder calculator"
    "supervisor karma calculator"
    ".......... karma .........."
    ;
    justify-content: center;
}