:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html, body {
    min-width: 350px;
    padding: 0;
    margin: 0;
    background-color: var(--very-light-gray);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--very-dark-blue);
}


h1, h2{
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 0.25px;
    text-align: center;
    margin: 1px;
    margin-inline: auto;
}

h1 {
    margin-top: 80px;
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

img{
    width: 64px;
    height: 64px;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: 30px;
    align-self: self-end;
}

.wrapper {
    padding-inline: 2rem;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas: 
    ".......... teambuilder .........."
    "supervisor teambuilder calculator"
    "supervisor karma calculator"
    ".......... karma .........."
    ;
    justify-content: center;
    margin-top: 60px;
    margin-inline: auto;
}

.main-title {
    max-width: 540px;
    margin-inline: auto;
}

.slogan {
    font-weight: 200;
    font-size: 15px;
    max-width: 540px;
    line-height: 25px;
    letter-spacing: 0.1px;
    padding: 10px 20px 10px 20px;
}

.functions {
    width: 350px;
    height: 250px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 15px 20px var(--grayish-blue);
    border-radius: 8px;
}

.function-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.function-desc {
    font-weight: 200;
    text-align: left;
    line-height: 23px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
}

.supervisor {
    grid-area: supervisor;
    border-top: 5px solid var(--cyan);
}

.teambuilder {
    grid-area: teambuilder;
    border-top: 5px solid var(--red);
}

.karma {
    grid-area: karma;
    border-top: 5px solid var(--orange);
}

.calculator {
    grid-area: calculator;
    border-top: 5px solid var(--blue);
}


@media(max-width: 375px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .functions, .main-title {
        max-height: 222px;
        max-width: 311px;
    }
    h1, h2 {
        font-size: 24px;
    }
    img{
        width: 57px;
        height: 57px;
    }
}